.headline{
	font-size:30px ;
	text-align:center;
	text-transform: capitalize ;
	border-width: 70px;
	border-radius: 20px;
	color:black ;
    background-color: bisque;
}

h3{
	text-decoration: underline;
	font-size:30px;
	color:yellow;
	text-align: center;
}

body{
	background-image:url("basketnoir.jpg");
	background-size: contain;
	text-align: center;
}
dt{
	font-size: yellow;
}
.moi{
	image-orientation: center;
}

.nom{
	color: white;
	text-decoration: none;
}


h4{
	align-content: left;
}

p.s{
	font-size: 20px;
	color: white;
}
dt{
	font-size: 25px;
	color:;
}
dd,li{
	font-size: 20px;
	color: white;
}
.etoile{
	font-size: 30px;
	color: white;
}
.fin{
	color: #AB00AB;
}

ol{
	list-style-position: inside;
	list-style-type: decimal;
}
